<html>
    <!--Ich bin ein Kommentar-->
    <!--Ein Head enthält Informationen über das Dokument -->
    <head>
        <!--Aufschrift auf den Browser Tab-->
        <title>
            N27 - Login
        </title>
    </head>
    <!--Der Body ist der Sichtbare Teil der Webseite-->
    <body>
        <h1>
            <!--Heading (Überschrift) erster Ordnung-->
            Bitte melden Sie sich hier an:
        </h1>
        <!-- Paragraph (Absatz)-->
        <p>Benutzername:</p>
        <!--Einagbefeld, Textbox-->
        <input type="text" id="benutzername" placeholder="s150..." name="benutzername">
        <p>Passwort:</p>
        <input type="password" id="passwort" name="passwort">
    </body>
</html>