<html>
    <!--Ich bin ein Kommentar-->
    <!--Ein Head ist -->
    <head>
        <!--Was ist der Title-->
        <title>
            N27 - Login
        </title>
    </head>
    <!--Der Body ist der Sichtbare Teil der Webseite-->
    <body>
        <h1>
            <!--Was ist h1, es ist die Überschriftsgröße 1-->
            Bitte melden Sie sich hier an:
        </h1>
        <!-- Wasx ist p-->
        <p>Benutzername:</p>
        <input type="text" id="benutzername" placeholder="s150..." name="benutzername">
        <p>Passwort:</p>
        <input type="password" id="passwort" name="passwort">
    </body>
</html>